.theme-info .updating-message::before,
.theme-info .updated-message::before,
.theme-install.updating-message::before {
	font: normal 18px/1 dashicons;
	margin-right: 6px;
	vertical-align: text-bottom;
}

.theme-info .updating-message:before,
.theme-install.updating-message:before {
	color: #d54e21;
	content: "\f463";
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.theme-install.updating-message:before {
	color: #fff;
}

.theme-info .updated-message::before {
	color: #79ba49;
	content: '\f147';
}

.plugin-update-tr .update-message.update-error-message:before {
	content: "\f158";
}

.theme-install-php .theme .notice-error {
	display: block;
	left: 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.button.installing::before {
	-webkit-animation: rotation 2s infinite linear;
	color: #d54e21;
	content: '\f463';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

.button.installed::before {
	color: #79ba49;
	content: '\f147';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}
