[submodule "phpcs"]
	path = phpcs
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
	branch = master
[submodule "wpcs"]
	path = wpcs
	url = https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git
[submodule "phpccs/PHPCompatibility"]
	path = phpccs/PHPCompatibility
	url = https://github.com/wimg/PHPCompatibility.git
	branch = master
