.updating-message::before {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

.plugin-update-tr .updated-message::before {
	color: #79ba49;
	content: '\f147';
}


.button.installing::before {
	color: #d54e21;
	content: '\f463';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	speak: none;
	margin: 0 8px 0 -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
    -webkit-animation: rotation 2s infinite linear;
}

.button.installed::before {
	color: #79ba49;
	content: '\f147';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	speak: none;
	margin: 0 8px 0 -2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}
