.theme .notice,
.theme .notice.is-dismissible {
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.wrap .notice p:before,
.update-message p:before,
.updating-message p:before,
.updated-message p:before,
.plugin-card .updated-message:before,
.plugin-card .installed:before,
.import-php .updating-message:before,
.button.updating-message:before,
.button.updated-message:before,
.button.installed:before,
.button.installing:before {
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

/* Update icon. */
.update-message p:before,
.updating-message p:before,
.plugin-update-tr .installed:before,
.plugin-card .update-now:before,
.import-php .updating-message:before,
.button.updating-message:before,
.button.installing:before {
	color: #f56e28;
	content: "\f463";
}

/* Spins the update icon. */
.updating-message p:before,
.button.updating-message:before,
.import-php .updating-message:before,
.button.installing:before {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

/* Updated icon (check mark). */
.plugin-card .updated-message:before,
.plugin-card .installed:before,
.updated-message p:before,
.installed p:before,
.button.updated-message:before,
.button.installed:before {
	color: #79ba49;
	content: '\f147';
}

.wrap .notice p:before,
.import-php .updating-message:before {
	margin-right: 6px;
	vertical-align: bottom;
}

.plugin-card .updated-message:before,
.plugin-card .installed:before,
.button.updating-message:before,
.button.updated-message:before,
.button.installed:before,
.button.installing:before {
	margin: 3px 5px 0 -2px;
}

.button-primary.updating-message:before,
.button-primary.updated-message:before,
.theme-install.updating-message:before {
	color: #fff;
}

.theme-install.updating-message:before {
	margin-right: 6px;
	vertical-align: -5px;
}

.theme-install.updated-message:before {
	content: '';
}

.theme-install-php .theme .notice-error {
	display: block;
	left: 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

/* Theme install browser */
.theme-install-overlay .close-full-overlay,
.theme-install-overlay .previous-theme,
.theme-install-overlay .next-theme {
	border-left: 0;
	border-top: 0;
	border-bottom: 0;
}

.theme-install-overlay .close-full-overlay:before,
.theme-install-overlay .previous-theme:before,
.theme-install-overlay .next-theme:before {
	top: 2px;
	left: 0;
}

/* Inline notifications */
.plugins .active.update th.check-column,
.plugins .active.update + .plugin-update-tr .plugin-update {
	border-left: 4px solid #00a0d2;
}

.plugins .active.update td,
.plugins .active.update th,
tr.active.update + tr.plugin-update-tr .plugin-update {
	background-color: #f7fcfe;
}

.plugins .plugin-update-tr .update-message {
	margin: 5px 20px 15px 40px;
	padding: 1px 12px;
}

.plugin-update-tr .update-message:before {
	content: '';
	display: none;
	margin: auto;
}

.plugins .plugin-deleted-tr {
	background: #f5f5f5;
}

.plugins .deleted td {
	padding: 10px 10px 10px 15px;
}

@media screen and (max-width: 782px) {
	.plugins .active.update + .plugin-update-tr:before {
		background-color: #f7fcfe;
		border-left: 4px solid #00a0d2;
	}

	.plugins .plugin-update-tr .update-message {
		margin-left: 0;
	}
}

.widefat.plugins td p {
	margin: 0.5em 0;
}

.wrap .notice-error p:before {
	color: #dc3232;
	content: "\f534";
}

.button.updated-message,
.notice .button-link {
	-webkit-transition-property: border, background, color;
	transition-property: border, background, color;
	-webkit-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.notice .button-link {
	color: #0073aa;
}

.notice .button-link:hover,
.notice .button-link:active {
	color: #00a0d2;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-success.notice-alt,
.notice-success.notice-alt {
	background-color: #ecf7ed;
}

.notice-warning {
	border-left-color: #ffb900;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-warning.notice-alt,
.notice-warning.notice-alt {
	background-color: #fff8e5;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-error.notice-alt,
.notice-error.notice-alt {
	background-color: #fbeaea;
}

.update-core-php .wrap > h2,
.update-core-php .wrap > p,
.update-core-php .wrap > .core-updates,
.update-core-php .wrap > [name=upgrade-translations],
.update-core-php .wrap > [name=upgrade-plugins],
.update-core-php .wrap > [name=upgrade-themes] {
	display: none;
}

.update-core-php .wrap > h1 + p,
.update-core-php .notice.notice-warning + p {
	display: block;
}

.update-core-php .wordpress-updates-table {
	margin-bottom: 50px;
}

.update-core-php .wordpress-updates-table .tablenav {
	margin: 6px 0 8px;
}

.update-core-php .wordpress-updates-table .tablenav .actions {
	padding: 2px 0;
	display: block;
}

.update-core-php .wordpress-updates-table .tablenav .button {
	margin-bottom: 2px;
	margin-right: 12px;
}

.update-core-php .wordpress-updates-table .tablenav .displaying-num {
	display: inline-block;
	margin: 5px 7px 0 0;
	position: static;
}

.wp-list-table.updates {
	border-collapse: collapse;
}

.wp-list-table.updates tr {
	border-bottom: 1px solid #e5e5e5;
}

.wp-list-table.updates .manage-column.column-title {
	padding-left: 115px;
	width: 80%;
}

@media screen and (min-width: 782px) {
	.wp-list-table.updates .column-action {
		text-align: right;
	}
}

.wp-list-table.updates .manage-column.column-action form {
	margin: 0;
}

.wp-list-table.updates .dashicons-translation {
	width: 85px;
	height: 85px;
	font-size: 85px;
	float: left;
	margin: 0 10px 5px 0;
}

.wp-list-table.updates .updates-table-screenshot {
	padding: 7px 15px 0 5px;
	width: 85px;
}

.wp-list-table.updates .column-title p {
	margin-left: 105px;
}

.wordpress-reinstall-card {
	max-width: 100%;
}

/* Todo: Merge: Change this in forms.css */
.request-filesystem-credentials-dialog .ftp-username,
.request-filesystem-credentials-dialog .ftp-password {
	float: none;
	width: auto;
}

.request-filesystem-credentials-dialog .ftp-username {
	margin-bottom: 1em;
}

.request-filesystem-credentials-dialog .ftp-password {
	margin: 0;
}

.request-filesystem-credentials-dialog .ftp-password em {
	color: #888;
}

.request-filesystem-credentials-dialog label {
	display: block;
	line-height: 1.5;
	margin-bottom: 1em;
}

.request-filesystem-credentials-form legend {
	padding-bottom: 0;
}

.request-filesystem-credentials-form #ssh-keys legend {
	font-size: 1.3em;
}

.request-filesystem-credentials-form .notice {
	margin: 0 0 20px 0;
	clear: both;
}

@media aural {
	.wrap .notice p:before,
	.theme .notice:before,
	.theme-info .updating-message:before,
	.theme-info .updated-message:before,
	.theme-install.updating-message:before,
	.button.installing:before,
	.button.installed:before,
	.update-message p:before {
		speak: none;
	}
}
