.theme .notice,
.theme .notice.is-dismissible {
	left: 0;
	margin: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.plugin-update-tr .update-message:before,
.plugin-card .update-now:before {
	color: #f56e28;
	content: "\f463";
}

.wrap .notice p:before {
	display: inline-block;
	font: normal 18px/1 dashicons;
	-webkit-font-smoothing: antialiased;
	margin-right: 6px;
	vertical-align: text-bottom;
}

.theme-install.updating-message:before {
	color: #fff;
}

.plugin-card .updated-message:before {
	color: #79ba49;
	content: '\f147';
}

.theme-install-php .theme .notice-error {
	display: block;
	left: 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.button.installing:before {
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
	color: #f56e28;
	content: '\f463';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

.button.installed:before {
	color: #79ba49;
	content: '\f147';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 8px 0 -2px;
	vertical-align: text-top;
}

/* Inline notifications */
.plugins .active.update th.check-column,
.plugins .active.update + .plugin-update-tr .plugin-update {
	border-left: 4px solid #00a0d2;
}

.plugins .active.update td,
.plugins .active.update th,
tr.active.update + tr.plugin-update-tr .plugin-update {
	background-color: #f7fcfe;
}

.plugins .plugin-update-tr .update-message {
	margin: 5px 20px 15px 40px;
	padding: 1px 12px 1px 35px;
}

.plugin-update-tr .update-message:before {
	content: '';
	display: none;
	margin: auto;
}

@media screen and (max-width: 782px) {
	.plugins .active.update + .plugin-update-tr:before {
		background-color: #f7fcfe;
		border-left: 4px solid #00a0d2;
	}

	.plugins .plugin-update-tr .update-message {
		margin-left: 0;
	}
}

.widefat.plugins td p {
	margin: 0.5em 0;
}

.update-message {
	padding-left: 40px;
}

.update-message p:before {
	color: #f56e28;
	display: inline-block;
	font: normal 20px/1 dashicons;
	content: "\f463";
	margin: 0 10px 0 -25px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	vertical-align: top;
}

.updating-message p:before {
	content: "\f463";
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.wrap .notice-success p:before {
	color: #79ba49;
	content: "\f147";
}

.wrap .notice-error p:before {
	color: #dc3232;
	content: "\f534";
}

.plugin-card .update-message p:before {
	content: '';
	margin: auto;
}

.notice .button-link {
	color: #0073aa;
	-webkit-transition-property: border, background, color;
	transition-property: border, background, color;
	-webkit-transition-duration: .05s;
	transition-duration: .05s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.notice .button-link:hover,
.notice .button-link:active {
	color: #00a0d2;
}

.notice-success,
div.updated {
	border-left-color: #46b450;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-success.notice-alt,
.notice-success.notice-alt {
	background-color: #ecf7ed;
}

.notice-warning {
	border-left-color: #ffb900;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-warning.notice-alt,
.notice-warning.notice-alt {
	background-color: #fff8e5;
}

.notice-error,
div.error {
	border-left-color: #dc3232;
}

tr.active + tr.plugin-update-tr:not(.updated) .plugin-update .notice-error.notice-alt,
.notice-error.notice-alt {
	background-color: #fbeaea;
}

.notice-info {
	border-left-color: #00a0d2;
}

.notice-info.notice-alt {
	background-color: #e5f5fa;
}

.update-core-php .wrap > h2,
.update-core-php .wrap > p,
.update-core-php .wrap > .core-updates,
.update-core-php .wrap > [name=upgrade-translations],
.update-core-php .wrap > [name=upgrade-plugins],
.update-core-php .wrap > [name=upgrade-themes] {
	display: none;
}

.update-core-php .notice.notice-warning + p {
	display: block;
}

.wp-list-table.updates .manage-column.column-type {
	width: 10%;
}

.wp-list-table.updates .manage-column.column-action {
	width: 10%;
}

.wp-list-table.updates .manage-column.column-action form {
	margin: 0;
}

.wp-list-table.updates .dashicons-translation {
	width: 85px;
	height: 85px;
	font-size: 85px;
	float: left;
	margin: 0 10px 5px 0;
}

@media aural {
	.wrap .notice p:before,
	.theme .notice:before,
	.theme-info .updating-message:before,
	.theme-info .updated-message:before,
	.theme-install.updating-message:before,
	.button.installing:before,
	.button.installed:before,
	.update-message p:before {
		speak: none;
	}
}
